.become {
    background-color: #fff;
    padding-top: 150px;
    padding-bottom: 120px;
}
    
.become__title {
    max-width: 50%;
}

.become__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 95px;
}

.become__item {
    width: 23.5%;
    margin-right: 2%;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    font-size: 0;
    margin-bottom: 2%;
}

.become__item:nth-child(4n) {
    margin-right: 0;
}

.become__text {
    position: absolute;
    z-index: 5;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: var(--white-color);
    left: 0;
    bottom: 0;
    padding-left: 53px;
    padding-bottom: 63px;
    transform: translateY(300px);
    transition: transform 0.3s ease-in-out;
}

.become__image {
    max-height: 100%;
    object-fit: cover;
}

.become__item::before {
    content: "";
    background: var(--neptune-color);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
}

.become__item:hover::before {
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
}

.become__item:hover .become__text {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}